<%- include ./partials/header.ejs %> 
<div class="container">
    <div class="modal fade" id="postForm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Create a Post</h4>
      </div>
      <div class="modal-body mx-3">
          <form action="/post/create" method="post">
            <div class="form-group">
              <h3 style="font-family: 'Lobster', cursive;">Post Caption</h3>
              <input type="text" name="caption" class="form-control" id="PostCaption" placeholder="Daddy's Lil Gal">
            </div>
            <h3 style="font-family: 'Lobster', cursive;">Post Image</h3>
            <div class="input-group mb-3">
            
            <div class="custom-file">
             
              <input type="file" name="image" accept=".png, .jpg, .jpeg" class="custom-file-input" id="inputGroupFile01" >
               <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
          </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
    </div>
  </div>
</div>
    <div class="row">
        <div class="col-lg-6 p-2">
        
            <% if(posts){ posts.forEach(function(post){ %>
                <div class="border p-2" style="margin-top:20px;border: 2px #E5E5E5 soild;background:#f3f3f3;border-radius:5px">
                  <h6 style="font-family: 'Lobster', cursive;"><%= post.userid %></h6>
                  <img src="data:<%= post.image.contentType %>;base64,<%= post.image.data %>" style="max-width: 100%;">
                  <p  style="color:#EB6864"><%=post.likes.length%> likes <%=post.comments.length%> comments</p>
                  <p style="font-family: 'Lobster', cursive;"><%= post.caption %></p>
                  <form action="/post/comment/<%=post._id%>" method="post" style="padding:5px">
                    <span>
                    <a href="/post/like/"><i class="fas fa-heart fa-2x" style="color:#EB6864"></i></a>
                    </span>
                    <span>                 
                    <input type="text" name="comment" style="height:30px;width:350px;border-radius:5px; border:2px solid #EB6864;padding:5px;color:#Eb6864;" placeholder="Add Comment">
                    <button style="background:#ffffff00;border:0px" type="submit"><i class="fas fa-paper-plane fa-2x" style="color:#Eb6864"></i></button>
                    </span>
                  </form>
                </div>
            <% })} %> 
        </div>
        <div class="col-lg-4" style="margin-top:30px">
           <div class="row">
              <div class="col-lg-4">
                <img src="http://localhost:5000/Images/doctor1.jpg" style="width:100px;height:100px;border-radius:50%;border:3px solid #ffffff">
              </div>   
              <div class="col-lg-8">
                  <h3 style="color:#ffffff"><%= user.name %></h3>
                  <p style="color:#ffffff"><%= user.email %></p>
                  <a href="/logout" style="color:#ffffff">Logout</a>
              </div>
           </div>
        </div>
    </div>
</div>