<%- include ./partials/header.ejs %> 
<div class="container p-2" >
    <h2 class="my-3" style="font-family: 'Permanent Marker', cursive; color:#ffffff"><%= type.toUpperCase() %> Results</h2>
    <% if(type=='followers'){ %>
        <table class="table">
            <tbody>
            <% list.forEach(function(follower){ %>
                <tr>
                    <td><a href="/profile/<%= follower.id %>"><%= follower.name %></td>
                    <td><img src="http://localhost:5000/Images/doctor1.jpg" style="width:30px;height:30px;border-radius:50%;border:1px solid #ffffff"></td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    <% } %>
    <% if(type=='search'){ %>
            <% list.forEach(function(user){ %>
                <div class="alert col-lg-4" role="alert" style="background:#ffffff55">
                    <a href="/profile/<%= user.id %>" class="alert-link" style="text-decoration:none;"><%= user.name %></a> <img src="http://localhost:5000/Images/doctor1.jpg" style="width:30px;height:30px;border-radius:50%;border:1px solid #ffffff;float:right;">
                </div>
            <% }) %>
    <% } %>
</div>