<div class="container">
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body" style="background:#ffffff44">
      <h1 class="text-center mb-3" style="font-family: 'Satisfy', cursive;">
      Register
      </h1>
      <form action="/register" method="post">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
            style="background:#ffffff88"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
            style="background:#ffffff88"
          />
        </div>
        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input
            type="number"
            id="phone"
            name="phone"
            class="form-control"
            placeholder="Phone Number"
            value="<%= typeof phone != 'undefined' ? phone : '' %>"
            style="background:#ffffff88"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
            style="background:#ffffff88"
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            style="background:#ffffff88"
          />
        </div>
        
        <button type="submit" class="btn btn-primary btn-block">
          Register
        </button>
      </form>
      <p class="lead mt-4" style="font-family: 'Satisfy', cursive;">Have An Account? <a href="/login">Login</a></p>
    </div>
  </div>
</div>
</div>